<!DOCTYPE html>
<html>
  <head>
    <title>Bacoor Barangay Map</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>    
    <style>
      #mapid {
        height: 100vh;
      }
      .legend {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      .square {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
      }
    </style>
  </head>
  <body>
    <div id="mapid"></div>


    <script>

      var map = L.map('mapid').setView([14.4337, 120.9629], 12);

      var explorationData = JSON.parse(sessionStorage.getItem('explorationData')) || {};
      var fillColors = {
        default: 'gray',
        stayed: 'blue',  // changed from 'strayed' to 'stayed'
        traveled: 'yellow',
        passed: 'red'
      };

      function getColor(status) {
        return fillColors[status] || fillColors.default;
      }
      fetch('static/map.geojson')
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        // filter barangays from Bacoor
        var bacoorData = {
          type: "FeatureCollection",
          features: data.features.filter(function(feature) {
            return feature.properties.Mun_Name == "BACOOR CITY";
          })
        };
        // add the barangays to the map
        L.geoJSON(bacoorData, {
          style: function(feature) {
            return {
              weight: 2,
              opacity: 1,
              color: 'white',
              fillOpacity: 0.7,
              fillColor: getColor(explorationData[feature.properties.Bgy_Name])
            };
          },
          onEachFeature: function(feature, layer) {
            layer.bindPopup('<h3>' + feature.properties.Bgy_Name + '</h3>');
            layer.on('click', function(e) {
              var status = document.getElementById('exploration-status').value;
              explorationData[feature.properties.Bgy_Name] = status;
              sessionStorage.setItem('explorationData', JSON.stringify(explorationData));
              layer.setStyle({ fillColor: getColor(status) });
              updateProgress();
            });
          }
        }).addTo(map);
        updateProgress();
      });
    
    function updateProgress() {
      var counts = {
        stayed: 0,
        traveled: 0,
        passed: 0,
      
      };
      for (var bgyName in explorationData) {
        counts[explorationData[bgyName]]++;
      }
      var stayedEl = document.getElementById('progress-stayed');
      stayedEl.innerHTML = counts.stayed;
      var traveledEl = document.getElementById('progress-traveled');
      traveledEl.innerHTML = counts.traveled;
      var passedEl = document.getElementById('progress-passed');
      passedEl.innerHTML = counts.passed;
      var total = (counts.stayed + counts.passed + counts.traveled) / 73 * 100;
      var totalEl = document.getElementById('progress-total');
      totalEl.innerHTML = `${total.toFixed(2)}%`;
    }
    
    var explorationStatusSelect = L.control({ position: 'topleft' });
    explorationStatusSelect.onAdd = function(map) {
      var div = L.DomUtil.create('div', 'leaflet-control');
      div.innerHTML = '<select id="exploration-status">' +
        '<option value="default">Not Yet Explored</option>' +
        '<option value="stayed">Stayed</option>' +
        '<option value="traveled">Traveled</option>' +
        '<option value="passed">Passed</option>' +
        '</select>';
      return div;
    };
    explorationStatusSelect.addTo(map);
    
    var legend = L.control({ position: 'bottomright' });
    legend.onAdd = function(map) {
      var div = L.DomUtil.create('div', 'leaflet-control legend');
      var html = '';
      for (var status in fillColors) {
        html += '<div><span class="square" style="background-color: ' + fillColors[status] + ';"></span> ' + status.charAt(0).toUpperCase() + status.slice(1) + '</div>';
      }
      div.innerHTML = html;
      div.innerHTML += '<div>Exploration progress: <span id = "progress-total"> 0 </span> </div>' ;

      div.innerHTML += '<div>Stayed: <span id="progress-stayed">0</span></div>';
      div.innerHTML += '<div>Traveled: <span id="progress-traveled">0</span></div>';
      div.innerHTML += '<div>Passed: <span id="progress-passed">0</span></div>';
      return div;
    };
    legend.addTo(map); // add the legend to the map

  </script>
  </body>
  </html>